---
title: "r9y"
layout: splash
permalink: /
date: 2022-09-20T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/MapBanner.png
  actions:
    - label: "View The Map"
      url: "https://map.r9y.dev/beck/map.html"
excerpt: "Putting the 9s into reliability"
intro:
  - excerpt: 'Reliability Engineering is vital to the successful operation of any platform. R9y provides a simple "Tech Tree" that you can follow across multiple areas of your business to achieve the appropriate number of "nines" you need to provide value to your customers'
feature_row:
  - image_path: assets/images/MapCallout1.png
    alt: "An image of the 3D view of the map"
    title: "Track your progress"
    excerpt: 'Each "9" of availability is associate with an "Era", allowing you to track your journey from 90.0% reliability through to 99.999%'
  - image_path: /assets/images/MapCallout2.png
    alt: "An image showing some of the swimlanes and their content"
    title: "Work across your entire organisation"
    excerpt: "R9y's Map has actions to be applied across your entire organisation, including Development, Infrastructure, and even your PeopleOps/HR processes"
  - image_path: /assets/images/MapCallout3.png
    title: "Visualise dependencies"
    excerpt: "See how improvements in one area quickly lead to improvements in another"
feature_row2:
  - image_path: /assets/images/MapReliabilityDetails.png
    alt: "An example of one of the Era Overview Panels"
    title: "Quickly see the expected outcome of each era"
    excerpt: 'Clicking on the Era name launches a dialog window showing the expected amount of time the platform may be unreliable for each year once all the action items are in place, allowing you to ensure you select the correct number of nines for your scenario'
feature_row3:
  - image_path: /assets/images/ItemDetails.png
    alt: "An example of the item details pages"
    title: "Detailed descriptions of each action"
    excerpt: 'Each action on the map has a dedicated page describing how to implement it, any pre-requisites, useful links to reference material, and other information to help support your implementation'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}
