---
title: "r9y"
layout: splash
permalink: /chat
date: 2022-09-20T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/MapBanner.png
  actions:
    - label: "View The Map"
      url: "https://map.r9y.dev/beck/map.html"
    - label: "View The Code"
      url: "https://github.com/r9y-dev"
excerpt: "Putting the 9s into reliability"
intro:
  - excerpt: ''
feature_row_social:
  - image_path: https://assets-global.website-files.com/6257adef93867e50d84d30e2/625e5fcef7ab80b8c1fe559e_Discord-Logo-Color.png
    alt: "Community Information"
    title: "The r9y Community"
    btn_label: "Join our Discord"
    btn_class: "btn--info"
    url: "https://discord.gg/NkmxCSkq7c"
    excerpt: 'Join our community on Discord and become part of the discussion around Reliability across the industry.'
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row_social" type="left" %}
