---
title: "r9y"
layout: splash
permalink: /watch
date: 2022-09-20T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/MapBanner.png
  actions:
    - label: "View The Map"
      url: "https://map.r9y.dev/beck/map.html"
    - label: "View The Code"
      url: "https://github.com/r9y-dev"
excerpt: "Putting the 9s into reliability"
intro:
  - excerpt: ''
feature_row_video:
  - image_path: /assets/images/SREconAPAC23.png
    alt: "A talk from SREcon APAC 2023 about r9y.dev"
    title: "Watch a talk from SREcon APAC 2023 about r9y.dev"
    excerpt: "Given by Aaron Bowden, from Google"
    url: "https://www.youtube.com/watch?v=e_OD4AnxICg"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row_video" type="left" %}
{% include video id="e_OD4AnxICg" provider="youtube" %}
